@import 'tailwindcss';

@theme inline {
	--font-sans: var(--font-bowlby);
	--font-mono: var(--font-dm-mono);
}

@theme {
	--brand-blue: #4876ff;
	--brand-lime: #d9f154;
	--brand-navy: #2e3192;
	--brand-orange: #ff7347;
	--brand-pink: #f7d0e9;
	--brand-purple: #692e54;
	--brand-gray: #fffdf9;
}

@layer components {
	.bg-texture {
		background: url('/bg-texture.webp');
		background-size: 720px 460px;
		background-position: center;
	}

	.button-cutout {
		position: relative;
		filter: drop-shadow(0 1px 0 #000) drop-shadow(-1px 0 0 #000)
			drop-shadow(1px 0 0 #000) drop-shadow(0 -1px 0 #000)
			drop-shadow(8px 8px 0 #000);

		&:hover {
			filter: drop-shadow(0 1px 0 #000) drop-shadow(-1px 0 0 #000)
				drop-shadow(1px 0 0 #000) drop-shadow(0 -1px 0 #000)
				drop-shadow(2px 2px 0 #000);
		}

		&::before {
			position: absolute;
			top: 0;
			right: calc(100% - 1px);
			content: '';
			background: inherit;
			width: 1rem;
			height: 100%;
			clip-path: polygon(
				23% 19%,
				0 0,
				100% 0,
				100% 100%,
				0 100%,
				29% 79%,
				9% 80%,
				0 33%
			);
		}

		&::after {
			position: absolute;
			top: 0;
			left: calc(100% - 1px);
			content: '';
			background: inherit;
			width: 1rem;
			height: 100%;
			clip-path: polygon(
				100% 0,
				74% 28%,
				100% 29%,
				100% 70%,
				84% 78%,
				100% 100%,
				0 100%,
				0 0
			);
		}
	}

	.stack-layout {
		display: grid;
		grid-template-areas: 'stack';
		place-items: center;
	}

	.stack-layout > * {
		grid-area: stack;
	}

	.skater-scribble-path {
		opacity: 0.8;
		stroke-dasharray: 2300;
		stroke-dashoffset: -2300;
		transition: stroke-dashoffset 1s ease-in-out 0.2s;
		transform-origin: center center;
	}

	.skater:hover .skater-scribble-path {
		stroke-dashoffset: 0;
	}

	.slide-in-hidden {
		opacity: 0;
		transform: translateX(-100px);
	}

	@keyframes slide-in {
		to {
			opacity: 1;
			transform: translateX(0);
		}
	}

	@keyframes squiggle {
		0% {
			filter: url('#squiggle-0');
		}
		25% {
			filter: url('#squiggle-1');
		}
		50% {
			filter: url('#squiggle-2');
		}
		75% {
			filter: url('#squiggle-3');
		}
		100% {
			filter: url('#squiggle-4');
		}
	}

	.animate-squiggle {
		animation: squiggle 0.5s infinite;
	}

	.bg-brand-blue {
		background-color: #4876ff;
	}

	.bg-brand-lime {
		background-color: #d9f154;
	}

	.bg-brand-navy {
		background-color: #2e3192;
	}

	.bg-brand-orange {
		background-color: #ff7347;
	}

	.bg-brand-pink {
		background-color: #f7d0e9;
	}

	.bg-brand-purple {
		background-color: #692e54;
	}

	.video-mask {
		mask-image: url('/video-mask.png');
		mask-size: 100% auto;
		mask-repeat: no-repeat;
		mask-mode: alpha;
		mask-position: center center;
	}
}
